<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Add Snack</title>
</head>
<body>
    <div class="container">
    <h1 class="display-2">New Snack</h1>
    <form method="POST">
            {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <div class="form-group">
        <p>
            {{field.label}}
            {{field(class_="form-control")}}

            {% for err in field.errors %}
            <small class="form-text text-danger">{{ err }}</small>
            {% endfor %}
        </p>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit Snack</button>
        <a href="/snacks/all" class="btn btn-danger">Go Back</a>    
    </form>
    </div>
</body>
</html>